* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    display: inline-block;
    resize: none;
    width: 80%;
    margin: 0 10% 40px 10%;
  }

label {
    display: block;
}