.pokedex-container {
  display: flex;
  flex-flow: column wrap;
}

.pokedex-title {
  align-self: center;
  margin: 30px 0 15px 0;
}

.pokemon-container {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 500px;
  margin: 15px auto;
}

.pokemon-text {
  padding: 3px 20px;
}